@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.top{
    background-color: #222222;
    color: #F3F3F3;
    font-size: 10px;
}
.navbar{
    background-color: #F0A83E;
    height: 62px;
}
.slide{
    background-image: url(../img/bowl-and-pet-daities-on-green-background.png);
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide-text h2{
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 30px;
}
.slide-text h3{
    font-weight: 400;
    font-size: 16px;
}
.slide-text button{
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
    background-color: #F0A83E;
    color: white;
}
.destacados{
    padding-top: 40px;
    text-align: center;
}
.destacados h2{
    font-weight: bold;
    font-size: 40px;
    color: #3C2313;
}