@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.nobull{
    list-style-type: none;
}
.logo{
    height: 45px;
    padding-left: 25px;
    margin: 25px 0;
}
.logo .first-text, .logo .second-text{
    font-size: 20px;
    font-weight: 700;
    vertical-align: 15px;
    
}
.logo img{
    height: 40px;
}
.dark.first-text{
    color: white;
}
.dark.second-text{
    color: #F0A83E;
}

.light.first-text{
    color: #3C2313;
}
.light.second-text{
    color: white;
}
.top{
    background-color: #222222;
    color: #F3F3F3;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.top span{
    margin: 10px 0;
    padding-left: 50px;
}
.top .dropdown{
    display: flex;
    padding-right: 20px;
}
.navbar{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    color: white;
    display: flex;
    justify-content: space-around;
    padding-right: 25px;;
}
.nav-list li{
    margin: 0 20px;
}
.slide{
    background-color: #cccccc;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.slide-text{
    text-align: center;
    padding-right: 250px;
}
.slide-text h2{
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 30px;
}
.slide-text h3{
    font-weight: 400;
    font-size: 16px;
}
.slide-text button{
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
    background-color: #F0A83E;
    color: white;
}
.destacados{
    padding-top: 60px;
    text-align: center;
}
.destacados h2{
    font-weight: bold;
    font-size: 40px;
    color: #3C2313;
}
.destacados p{
    font-size: 15px;
    color: #666666;
}
.destacados .cardContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px 15vw 100px 15vw;
}
.cardContainer article{
    background-color: #FBFAF6;
    width: 265px;
}
.cardContainer article img{
    width: 100%;
}
.cardContainer article h3{
    color: #3C2313;
    font-size: 15;
    font-weight: 500;
}
.cardContainer article p{
    color: #F0A83E;
    font-size: 15;
    font-weight: 500;
}
.footernav{
    display: flex;
    background-color: #3C2313;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.footernav .logo{
    padding-right: 25px;
}
.footernav .info{
    padding: 50px 0 50px 100px;
    display: flex;
    flex-direction: column;
}
.footernav .info article{
    margin: 20px 0;
}
.footernav .info article i{
    font-size: 66px;
}
.footernav .info article h2{
    font-size: 20px;
    font-weight: 700;
}
.footernav .info article p{
    font-size: 10px;
    font-weight: 700;
    color: #8A8787;
}
footer .rights{
    text-align: center;
    background-color: #222222;
    color: white;
    font-size: 10px;
    font-weight: 700;
}
footer .rights p{
    margin: 0;
}
